@model Store.Model.ViewModel.MainVM
@using Omega_Store.Services;
@inject LoginValidator loginValidator
@{
    ViewData["Title"] = Model.Stock.Title ;
    int optnCount = 0;
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" asp-action="index" asp-controller="home">Home</a>
                <a class="breadcrumb-item text-dark" asp-action="index" asp-controller="shop">Shop</a>
                <span class="breadcrumb-item active">@Model.Stock.Title</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src="@Model.Stock.Image" alt="Image">
                    </div>
                    @if (!string.IsNullOrEmpty(Model.Stock.Image1))
                    {
                        <div class="carousel-item">
                            <img class="w-100 h-100" src="@Model.Stock.Image1" alt="Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Stock.Image2))
                    {
                        <div class="carousel-item">
                            <img class="w-100 h-100" src="@Model.Stock.Image2" alt="Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Stock.Image3))
                    {
                        <div class="carousel-item">
                            <img class="w-100 h-100" src="@Model.Stock.Image3" alt="Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Stock.Image4))
                    {
                        <div class="carousel-item">
                            <img class="w-100 h-100" src="@Model.Stock.Image4" alt="Image">
                        </div>
                    }                  
                    
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>@Model.Stock.Title</h3>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2" id="ratedHolder">
                        <small class="far fa-star"></small>
                        <small class="far fa-star"></small>
                        <small class="far fa-star"></small>
                        <small class="far fa-star"></small>
                        @* <small class="fas fa-star-half-alt"></small> *@
                        <small class="far fa-star"></small>
                    </div>
                    <small class="pt-1">(@Model.Reviews.Count() Reviews)</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">@Model.Stock.CurrencySymbol@Model.Stock.Price</h3>
                <p class="mb-4">
                    @Model.Stock.Brief
                </p>
            
                @foreach (var feature in Model.Features)
                {
                       
                        <div class="d-flex mb-4">
                        <strong class="text-dark mr-3">@feature.Name:</strong>
                            @foreach (var option in feature.Options.Split(','))
                            {
                                optnCount++;
                                var id = "option-" + optnCount;
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="@id" onclick="AddOption('@Model.Stock.ID','@feature.ID','@option')" name="@feature.ID">
                                    <label class="custom-control-label" for="@id">@option</label>
                                </div>
                            }
                      
                    </div>
                }
              
             
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary border-0 text-center" id="itemQty" value="1" min="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3" onclick="ProcessItem('@Model.Stock.ID')">
                        <i class="fa fa-shopping-cart mr-1"></i> Add To
                        Cart
                    </button>
                </div>
                <div class="d-flex pt-2">
                    <strong class="text-dark mr-2">Share on:</strong>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                 
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews (<span id="reviewCount">@Model.Reviews.Count()</span>)</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Product Description</h4>
                        @foreach (var para in @Model.Stock.Description.Split('\n'))
                        {
                            <p>@para</p>
                        }
                     </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <partial name="_review" model="@Model" />
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->

<script>
    ProcessRated();
    var features = [];
    var rating = 0;
    function AddOption(itemID, featureID, featureOption){
        var feature = {
            orderItemID : itemID,
            featureID : featureID,
            featureOption : featureOption
        }
        features.push(feature);
    }
    function ProcessItem(itemID) {
        var qty = document.getElementById('itemQty');
        AddToCart(itemID, qty, features);
        features = [];
    }
    function ProcessRated() {
        var rated = '@Model.Ratings';
        var ratedHolder = document.getElementById('ratedHolder');
        ratedHolder.innerHTML = '';
        for (var i = 1; i <= 5; i++) {
            if (i <= rated) {
                ratedHolder.innerHTML += '<i class="fas fa-star mr-1"></i>';
            }
            else {
                ratedHolder.innerHTML += '<i class="far fa-star mr-1"></i>';
            }
        }
    }
  
    function ProcessRating(val) {
        var ratingHolder = document.getElementById('ratingHolder');
        ratingHolder.innerHTML = '';
        for (var i = 1; i <= 5; i++) {
            if (i <= val ) {
                ratingHolder.innerHTML += '<i class="fas fa-star mr-1" onclick="ProcessRating('+i+')"></i>';
                rating = i;
            }
            else {
                ratingHolder.innerHTML += '<i class="far fa-star mr-1" onclick="ProcessRating(' + i + ')"></i>';
            }
        }
    }

    function ValidateReview(){
        var message = document.getElementById('message');
        var email = document.getElementById('email');
        var name = document.getElementById('name');
        if (rating == 0) {
            alertDanger("Rating is empty");
            return;
        } else if (message.value == "") {
            alertDanger("Review is empty");
            return;
           
        } else if ('@loginValidator.IsLoggedIn().ToString().ToLower()' == "false") {
            if (email.value == "" || name.value == "") {
                alertDanger("Complete all details");
                return;
            }
        }

        SendReview('@Model.Stock.ID', message.value, name.value, email.value, rating);
    }
</script>